# Titulo en el reproductor web, opcional, aprox 14 caracteres
STATION_TITLE=

# Puerto HTTP para Express
PORT=8000

# Host de escucha del servidor
HOST=0.0.0.0

# URL pública de la app (importante en Render y producción)
# Cambia esto por la URL real de tu servicio, por ejemplo:
# PUBLIC_URL=https://tu-app.onrender.com
PUBLIC_URL=http://localhost:8000


# ffmpeg - Node Media Trans location - Elegir uno de abajo
# Linux
FFMPEG=/usr/bin/ffmpeg
# MAC
# FFMPEG=/opt/homebrew/bin/ffmpeg

# Token que se espera recibir en el Sender
PUBLISH_TOKEN=

# DB para estadísticas
TURSO_CONNECTION_URL=
TURSO_AUTH_TOKEN=
