# Puerto HTTP para Express
PORT=8000

# Host de escucha del servidor
HOST=0.0.0.0

# Puerto RTMP para Node Media Server
RTMP_PORT=1935

# URL pública de la app (importante en Render y producción)
# Cambia esto por la URL real de tu servicio, por ejemplo:
# PUBLIC_URL=https://tu-app.onrender.com
PUBLIC_URL=http://localhost:8000


# ffmpeg - Node Media Trans location - Elegir uno de abajo
# Linux
FFMPEG=/usr/bin/ffmpeg
# MAC
# FFMPEG=/opt/homebrew/bin/ffmpeg
